.layout{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  //background-image: url("../../assets/images/shipping_bg.png");
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-position: center;
}